.about__header {
  margin-left: 15px;
  margin-top: 11px;
  margin-bottom: 39px;

  &::before {
    top: -13px;
  }
}

.about__item {
  margin-left: 15px;
  margin-bottom: 26px;

  &:last-child {
    margin-bottom: 0;
  }
}

.about__item-header {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 12px;
}

.about__item-text {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  width: 270px;
}

@media (min-width: $tablet-width) {
  .about__flex-wrapper {
    display: flex;
  }

  .about__image {
    width: 542px;
    height: 350px;
    margin-top: 127px;
  }

  .about__content {
    margin-top: 11px;
    margin-left: -107px;
  }

  .about__header {
    margin-top: 0;
    margin-bottom: 45px;

    &:before {
      top: -16px;
    }
  }

  .about__item {
    margin-bottom: 28px;
  }

  .about__item-header {
    font-size: 18px;
    margin-bottom: 9px;
  }

  .about__item-header--target {
    margin-bottom: 10px;
  }

  .about__item-text {
    font-size: 16px;
    line-height: 24px;
  }

  .about__mobile-br {
    display: none;
  }

  .about__tablet-br {
    display: inline;
  }
}
