.advantages__header {
  text-align: center;
  margin-top: 54px;
  margin-bottom: 35px;

  &::before {
    top: -13px;
    left: 51px;
  }
}

.advantages__items-wrapper {
  margin-left: 15px;
}

.advantages__item {
  border: 1px solid rgba(2, 102, 193, 0.1);
  padding: 19px 0;
  width: 288px;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__item-icon-border {
  width: 40px;
  height: 40px;
  border: 1px solid #0266c1;
  margin-left: 123px;
  margin-bottom: 20px;
}

.advantages__item-icon {
  margin: 8px 0 0 8px;
}

.advantages__item-icon--expertise {
  margin-bottom: 15px;
}

.advantages__item-icon--routes {
  margin-bottom: 15px;
}

.advantages__item-header {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-align: center;
  margin: 0 0 15px;
}

.advantages__item-header--nature {
  width: 285px;
}

.advantages__item-text {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  width: 270px;
  margin: 0 0 0 9px;
}

.advantages__item-text-tablet-br {
  display: none;
}

.advantages__item-text-desktop-br {
  display: none;
}

.advantages__slider-buttons {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages__header {
    margin-top: 88px;
    margin-bottom: 59px;

    &::before {
      top: -16px;
      left: 134px;
    }
  }

  .advantages__items-wrapper {
    background-image: url("../../img/tablet/advantages-clouds-background-1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/tablet/advantages-clouds-background-2x.webp");
    }

    background-repeat: no-repeat;
    background-size: 2091px 996px;
    background-position-x: -661px;
    background-position-y: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
    gap: 15px 30px;
  }

  .advantages__item {
    padding: 29px 0;
    width: 322px;
    background-color: #ffffff;
  }

  .advantages__item--nature {
    padding-bottom: 35px;
  }

  .advantages__item-header {
    font-size: 16px;
  }

  .advantages__item-header--nature {
    width: auto;
    line-height: 16px;
    margin-top: -1px;
    margin-left: -3px;
    margin-bottom: 14px;
  }

  .advantages__item-icon-border {
    width: 46px;
    height: 46px;
    margin-left: 137px;
    margin-bottom: 27px;
  }

  .advantages__item-icon {
    margin: 11px 0 0 11px;
  }

  .advantages__item-text {
    font-size: 14px;
    line-height: 22px;
    margin-left: 19px;
    width: 285px;
  }

  .advantages__item-text-mobile-br {
    display: none;
  }

  .advantages__item-text-tablet-br {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .advantages__header {
    margin-bottom: 47px;
    margin-top: 31px;

    &:before {
      top: -31px;
      left: 445px;
    }
  }

  .advantages__items-wrapper {
    background-image: none;
    flex-wrap: nowrap;
    gap: 0;
    margin-left: 30px;
    margin-bottom: 35px;
  }

  .advantages__item {
    margin-right: 30px;
    padding: 39px 0 61px;
    min-width: 380px;
  }

  .advantages__item-icon-border {
    margin-left: 162px;
    width: 52px;
    height: 52px;
    margin-bottom: 32px;
  }

  .advantages__item-icon {
    margin: 14px 0 0 14px;
  }

  .advantages__item-header {
    font-size: 18px;
    margin-left: -3px;
    margin-bottom: 17px;
  }

  .advantages__item-text {
    width: 340px;
    margin-left: 19px;
    margin-right: 20px;
    margin-bottom: -22px;
  }

  .advantages__item-text-tablet-br {
    display: none;
  }

  .advantages__item-text-desktop-br {
    display: inline;
  }

  .advantages__item-text-expertise-string {
    margin-left: -5px;
  }

  .advantages__slider-buttons {
    display: flex;
    margin-left: 681px;
  }

  .advantages__slider-button-left {
    margin-right: 4px;
  }
}
