.footer__logo {
  margin-left: 89px;
  margin-top: 24px;
  margin-bottom: 17px;
}

.footer__navigation {
  margin-left: 15px;
  margin-bottom: 9px;
  display: grid;
  grid-template-columns: 120px 120px;
  gap: 0 50px;
}

.footer__navigation-item {
  font-size: 14px;
  text-align: center;
  margin-bottom: 13px;
  text-decoration: none;
  color: #2d383f;
}

.footer__social-links {
  margin-left: 96px;
  margin-bottom: 14px;
}

.footer__social-link {
  position: relative;
  display: inline-block;
  border: 1px solid rgba(45, 56, 63, 0.3);
  text-decoration: none;
  text-align: center;
  width: 30px;
  height: 28px;
  margin-right: 12px;
}

.footer__social-link-icon {
  position: absolute;
}

.footer__social-link-icon--vk {
  left: 6px;
  top: 10px;
}

.footer__social-link-icon--ok {
  left: 10px;
  top: 6px;
}

.footer__social-link-icon--reddit {
  left: 8px;
  top: 4px;
}

.footer__privacy-policy {
  font-size: 12px;
  font-weight: 300;
  margin-left: 61px;
  padding-bottom: 20px;
  text-decoration: none;
  color: #2d383f;
}

.footer__phone {
  display: none;
  font-size: 18px;
  font-weight: 600;
}

@media (min-width: $tablet-width) {
  .footer__flex-wrapper {
    display: flex;
    margin-top: 70px;
    margin-left: 45px;
    margin-bottom: 17px;
  }

  .footer__logo {
    margin-top: 0;
    margin-left: 0;
    margin-right: 43px;
  }

  .footer__navigation {
    display: flex;
    gap: 0;
    align-items: center;
    margin-top: 5px;
    margin-left: 0;
  }

  .footer__navigation-item {
    margin-right: 23px;

    &:last-child {
      margin-right: 0;
    }
  }

  .footer__navigation-item--learning {
    margin-right: 25px;
  }

  .footer__navigation-item--reviews {
    margin-right: 25px;
  }

  .footer__navigation-item--photos {
    margin-right: 26px;
  }

  .footer__social-links {
    margin-left: 320px;
    margin-bottom: 26px;
  }

  .footer__privacy-policy {
    margin-left: 285px;
  }
}

@media (min-width: $desktop-width) {
  .footer__flex-wrapper {
    margin-top: 126px;
    margin-left: 149px;
    margin-bottom: 14px;
  }

  .footer__logo {
    margin-right: 143px;
  }

  .footer__navigation {
    margin-top: 7px;
    margin-right: 169px;
  }

  .footer__navigation-item {
    font-size: 16px;
    margin-right: 31px;
  }

  .footer__navigation-item--about {
    margin-right: 30px;
  }

  .footer__phone {
    display: inline-block;
    margin-top: 13px;
  }

  .footer__social-links {
    margin-left: 659px;
    margin-bottom: 14px;
  }

  .footer__social-link {
    margin-right: 9px;
  }

  .footer__privacy-policy {
    margin-left: 621px;
    padding-bottom: 32px;
  }
}
