.form {
  position: relative;
}

.form__background-wrapper {
  background-image: url("../../img/mobile/form_background-1x.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -35px;

  @media (resolution >= 2dppx) {
    background-image: url("../../img/mobile/form_background-2x.webp");
  }

  background-color: #000000;
  padding-top: 173px;
  padding-bottom: 174px;
  margin-bottom: 35px;
}

.form__header {
  font-size: 22px;
  font-weight: 800;
  color: #ffffff;
  margin: 0 0 17px 40px;
}

.form__description {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  width: 260px;
  margin: 0 0 20px 30px;
}

.form__description-bottom-text {
  margin-left: 3px;
}

.form__form {
  margin-left: 31px;
}

.form__input {
  font-size: 16px;
  border: none;
  width: 241px;
  height: 47px;
  padding-top: 2px;
  padding-left: 15px;
  margin-bottom: 8px;

  &::placeholder {
    opacity: 0.5;
  }
}

.form__form-submit {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  background-color: #0266c1;
  width: 258px;
  height: 58px;
  padding-top: 5px;
}

.form__contacts {
  margin-left: 15px;
  margin-bottom: 30px;
}

.form__contacts-item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__contacts-item-flex-wrapper {
  display: flex;
}

.form__contacts-header {
  margin: 0 0 27px;

  &::before {
    top: -13px;
  }
}

.form__contacts-description {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 29px;
  width: 270px;
}

.form__contacts-icon {
  margin-top: 1px;
  margin-right: 10px;
}

.form__contacts-type {
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 6px;
}

.form__contacts-content {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  color: #2d383f;
  text-decoration: none;
  margin-left: 32px;
  width: 160px;
}

.form__map {
  margin-bottom: 15px;
}

.form__map-border-bottom {
  position: absolute;
  left: 0;
  bottom: -15px;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #2d383f;
  opacity: 0.2;
}


@media (min-width: $tablet-width) {
  .form__background-wrapper {
    background-image: url("../../img/tablet/form_background-1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/tablet/form_background-2x.webp");
    }

    background-position-x: 0;
    padding-top: 182px;
    padding-bottom: 181px;
    margin-bottom: 58px;
  }

  .form__header {
    font-size: 25px;
    margin-left: 244px;
    margin-bottom: 26px;
  }

  .form__description {
    font-size: 16px;
    line-height: 24px;
    width: 360px;
    text-align: left;
    margin-left: 239px;
    margin-bottom: 25px;
  }

  .form__description-bottom-text {
    margin-left: -1px;
  }

  .form__description-br {
    display: none;
  }

  .form__input {
    display: block;
    margin-left: 173px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 30px;
    width: 328px;
    margin-bottom: 12px;
  }

  .form__form-submit {
    margin-left: 173px;
    padding-top: 2px;
    padding-bottom: 0;
    width: 360px;
    height: 55px;
  }

  .form__contacts {
    margin-bottom: 11px;
  }

  .form__contacts-header {
    margin-left: 30px;
    margin-bottom: 19px;

    &::before {
      top: -16px;
    }
  }

  .form__contacts-description {
    font-size: 16px;
    line-height: 24px;
    width: 480px;
    margin-left: 30px;
    margin-bottom: 39px;
  }

  .form__contacts-description-br {
    display: none;
  }

  .form__contacts-flex-wrapper {
    display: flex;
    margin-left: 30px;
  }

  .form__contacts-item {
    width: 193px;

    &:last-child {
      margin-left: 6px;
    }
  }

  .form__contacts-type {
    font-size: 16px;
    margin-bottom: 0;
  }

  .form__contacts-content {
    margin-top: -1px;
    width: 270px;
    margin-left: 34px;
  }

  .form__contacts-icon {
    width: 25px;
    height: 24px;
    margin-top: 0;
    margin-right: 10px;
  }

  .form__map-image {
    width: 768px;
    height: 340px;
  }

  .form__map-border-bottom {
    bottom: -36px;
  }
}

@media (min-width: $desktop-width) {
  .form__background-wrapper {
    background-image: url("../../img/desktop/form_background-1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/desktop/form_background-2x.webp");
    }
    background-size: 1440px 760px;
    padding-top: 295px;
    padding-bottom: 281px;
    margin-bottom: 121px;
  }

  .form__header {
    font-size: 35px;
    margin-left: 528px;
    margin-bottom: 13px;
  }

  .form__description {
    width: auto;
    margin-left: 428px;
    margin-bottom: 40px;
  }

  .form__description-bottom-text {
    margin-left: 0;
  }

  .form__form {
    display: flex;
    margin-left: 240px;
  }

  .form__input {
    margin-left: 0;
    width: 328px;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  .form__form-submit {
    margin-left: 0;
    width: 180px;
  }

  .form__contacts {
    margin-right: 123px;
  }

  .form__contacts-wrapper {
    display: flex;
  }

  .form__contacts-flex-wrapper {
    flex-direction: column;
    margin-left: 105px;
  }

  .form__contacts-header {
    margin-left: 105px;
    margin-bottom: 20px;

    &:before {
      top: -19px;
    }
  }

  .form__contacts-description {
    margin-left: 105px;
    margin-bottom: 48px;
  }

  .form__contacts-item {
    margin-bottom: 35px;

    &:last-child {
      margin-left: 0;
    }
  }

  .form__contacts-type {
    font-size: 18px;
  }

  .form__contacts-content {
    display: block;
    font-size: 16px;
    margin-top: -9px;
    margin-left: 56px;
    width: 300px;
  }

  .form__contacts-icon {
    margin-top: 13px;
    margin-right: 30px;
    width: 26px;
    height: 26px;
  }

  .form__map-image {
    width: 595px;
    height: 324px;
    margin-top: 28px;
  }

  .form__map-border-bottom {
    bottom: -86px;
  }
}
