.gallery__header {
  margin-top: 55px;
  margin-left: 15px;
  margin-bottom: 25px;

  &::before {
    top: -13px;
  }
}

.gallery__description {
  font-size: 12px;
  line-height: 18px;
  width: 260px;
  margin: 0 0 31px 15px;
}

.gallery__description-tablet-br {
  display: none;
}

.gallery__photos {
  display: grid;
  grid-template-columns: 160px 160px;
  grid-template-rows: 147px 110px;
  overflow: hidden;
  gap: 9px 3px;
  margin-bottom: 3px;
}

.gallery__image {
  width: 100%;
}

.gallery__image--long {
  height: 266px;
}

.gallery__image--small {
  height: 147px;
}

.gallery__image--small-compass {
  height: 225px;
}

.gallery__long-photo {
  width: 158px;
  grid-row: 1/3;
}

.gallery__long-photo--tablet {
  display: none;
}

.gallery__small-photo {
  width: 162px;
  height: 150px;
  margin-top: -13px;
}

.gallery__small-photo--compass {
  margin-left: -3px;
  margin-top: -15px;
  margin-bottom: 1px;
}

.gallery__long-photo-shown-tablet {
  display: none;
}

.gallery__long-photo-shown-desktop {
  display: none;
}
@media (min-width: $tablet-width) {
  .gallery__header {
    margin-top: 98px;
    margin-left: 45px;
    margin-bottom: 28px;

    &::before {
      top: -16px;
    }
  }

  .gallery__flex-wrapper {
    display: flex;
    align-items: center;
  }

  .gallery__description {
    font-size: 14px;
    line-height: 22px;
    margin-left: 45px;
    margin-right: 180px;
    margin-bottom: 21px;
    width: 420px;
  }

  .gallery__description-tablet-br {
    display: inline;
  }

  .gallery__slider-button-left {
    margin-right: 4px;
  }

  .gallery__slider-button-left,
  .gallery__slider-button-right {
    margin-top: 12px;
  }

  .gallery__photos {
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 209px 201px;
    gap: 8px;
  }

  .gallery__image--long {
    height: 418px;
  }

  .gallery__image--small {
    height: 232px;
  }

  .gallery__image--small-compass {
    height: 268px;
  }

  .gallery__image--rocks-route {
    width: 252px;
  }

  .gallery__small-photo {
    width: 252px;
    margin: -23px 0 0;
  }

  .gallery__long-photo {
    width: 253px;
  }

  .gallery__long-photo--tablet {
    display: block;
    grid-column: 3/4;
  }

  .gallery__long-photo-shown-tablet {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .gallery__slider-button-left,
  .gallery__slider-button-right {
    display: none;
  }

  .gallery__header {
    margin-top: 221px;
    margin-left: 120px;
    margin-bottom: 20px;

    &:before {
      top: -19px;
    }
  }

  .gallery__description {
    font-size: 16px;
    line-height: 24px;
    margin-left: 120px;
    margin-bottom: 45px;
    width: 670px;
  }

  .gallery__description-tablet-br {
    display: none;
  }

  .gallery__photos {
    grid-template-columns: repeat(5, 280px);
    grid-template-rows: repeat(2, 228px);
    gap: 8px 9px;
    margin-bottom: 2px;
  }

  .gallery__image--long {
    height: 463px;
  }

  .gallery__image--small {
    height: 278px;
  }

  .gallery__image--rocks-route {
    width: 100%;
  }

  .gallery__long-photo {
    width: 284px;
  }

  .gallery__small-photo {
    width: 284px;
    height: 232px;
  }

  .gallery__long-photo--desktop {
    grid-column: 5/6;
  }

  .gallery__small-photo--compass {
    grid-column: 2/3;
  }

  .gallery__small-photo--group-desktop {
    grid-column: 4/4;
    grid-row: 1/1;
    margin-top: -22px;
  }

  .gallery__small-photo--tent-desktop {
    grid-column: 4/4;
    grid-row: 2/2;
  }

  .gallery__small-photo--bonfire-desktop {
    margin-top: -22px;
  }

  .gallery__long-photo-shown-desktop {
    display: block;
  }
}
