.header {
  background-color: #0266c1;
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 15px;
}

.header__flex-wrapper {
  display: flex;
}

.header__burger-menu-icon {
  width: 26px;
  height: 19px;
  margin-top: 4px;
  margin-right: 122px;
}

.header__logo {
  width: 142px;
  height: 42px;
  margin-bottom: 14px;
}

.header__phone {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  margin-left: 168px;
}
