.header {
  background-color: #0266c1;
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 11px;
}

.header__flex-wrapper {
  display: flex;
}

.header__burger-menu-icon {
  margin-top: 4px;
  margin-right: 122px;
}

.header__logo {
  margin-bottom: 14px;
}

.header__phone {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  margin-left: 168px;
}

@media (min-width: $tablet-width) {
  .header__flex-wrapper-tablet {
    display: flex;
  }

  .header__burger-menu-icon {
    margin-top: 17px;
    margin-left: 30px;
    margin-right: 242px;
  }

  .header__logo {
    margin-top: 5px;
    margin-bottom: 9px;
  }

  .header__phone {
    font-size: 16px;
    margin-left: 129px;
    margin-top: 19px;
  }
}
