.hero__background-wrapper {
  background-image: url("../../img/mobile/hero-backgorund-1x.webp");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/mobile/hero-backgorund-2x.webp");
  }

  background-repeat: no-repeat;
  background-size: 320px 568px;
  padding-top: 145px;
  padding-bottom: 40px;
}

.hero__tour-header {
  font-size: 26px;
  font-weight: 800;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  margin: 0 0 15px;
}

.hero__tour-description {
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  width: 270px;
  margin: 0 0 60px 25px;
}

.hero__watch-tour-button {
  cursor: pointer;
  border: none;
  background-color: #0266c1;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  padding: 21px 34px 20px;
  margin-left: 70px;
  margin-bottom: 104px;
}

.hero__tour-info-item {
  display: none;
}

.hero__tour-pagination {
  margin: 0 0 0 116px;
}

.hero__tour-pagination-list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.hero__tour-pagination-item {
  cursor: pointer;
  width: 14px;
  height: 13px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.hero__tour-pagination-item--active {
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .hero__background-wrapper {
    background-image: url("../../img/tablet/hero-backgorund-1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/tablet/hero-backgorund-2x.webp");
    }

    background-size: 768px 1034px;

    padding-top: 342px;
    padding-bottom: 40px;
  }

  .hero__tour-header {
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 13px;
  }

  .hero__tour-description {
    font-size: 17px;
    line-height: 24px;
    width: 474px;
    margin-left: 147px;
    margin-bottom: 37px;
  }

  .hero__watch-tour-button {
    margin-left: 294px;
    margin-bottom: 341px;
  }

  .hero__tour-pagination {
    margin-left: 334px;
  }

  .hero__tour-pagination-item {
    width: 18px;
    height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .hero__background-wrapper {
    background-image: url("../../img/desktop/hero-backgorund-1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/desktop/hero-backgorund-2x.webp");
    }

    background-size: 1440px 800px;
    padding-top: 200px;
    padding-bottom: 80px;
  }

  .hero__tour-header {
    font-size: 77px;
    line-height: 77px;
    text-align: left;
    margin-left: 120px;
    margin-bottom: 23px;
    width: 1100px;
  }

  .hero__tour-description {
    text-align: left;
    width: 470px;
    margin-left: 120px;
  }

  .hero__watch-tour-button {
    margin-left: 120px;
    margin-bottom: 133px;
  }

  .hero__pagination-wrapper {
    display: flex;
    margin-left: 120px;
  }

  .hero__tour-info-item {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 14px 0;
    margin-right: 10px;
  }

  .hero__tour-info-icon {
    margin-left: 19px;
    margin-right: 8px;
  }

  .hero__tour-info-text {
    font-size: 12px;
    color: #ffffff;
    margin-right: 19px;
  }

  .hero__tour-pagination {
    margin-left: 742px;
    margin-top: 12px;
  }
}
