.reviews-header {
  margin-top: 56px;
  margin-bottom: 29px;
  margin-left: 15px;
}

.reviews__review {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  padding: 20px;
  box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);
  width: 250px;
}

.reviews__review-image {
  margin-bottom: 15px;
}

.reviews__review-text {
  font-size: 12px;
  line-height: 18px;
  margin: 0 0 15px;
  width: 250px;
}

.reviews__review-text-bottom {
  display: inline-block;
  margin-top: 10px;
}

.reviews__review-name {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 6px;
}

.reviews__review-info {
  font-size: 12px;
  font-weight: 300;
}
