.training__header {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 15px;
}

.training__info {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 27px 15px;
  width: 290px;
}

.training__info-tablet-br {
  display: none;
}

.training__instructors-header {
  font-size: 22px;
  font-weight: 800;
  margin: 0 0 21px 15px;
}

.training__instructors {
  margin-left: 15px;
}

.training__instructor-card {
  border: 1px solid rgba(2, 102, 193, 0.1);
  background-color: #ffffff;
  margin-bottom: 25px;
  padding: 14px;
  width: 260px;
}

.training__instructor-card--hidden {
  display: none;
}

.training__instructors-photo {
  margin-bottom: 11px;
}

.training__instructor-card-flex-wrapper {
  display: flex;
  margin-bottom: 14px;
}

.training__instructor-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin: 0 125px 0 0;
}

.training__instructor-vk {
  cursor: pointer;
  display: inline-block;
  border: 1px solid rgba(45, 56, 63, 0.3);
  height: 21px;
  margin-top: -1px;
  padding: 0 2px 1px 3px;
}

.training__instructor-vk-icon {
  margin-top: 7px;
  fill: #2d383f;
}

.training__instructor-description {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  width: 240px;
}

.training__instructor-description-kolesnichenko-br {
  display: none;
}

.training__instructor-description-afinogenova-br {
  display: none;
}

.training__learning-process-header {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 22px 15px;
}

.training__learning-process-points-icon {
  position: absolute;
  left: 0;
  bottom: 51px;
}

.training__learning-process {
  list-style-type: none;
  padding: 0;
  margin: 0 0 41px 14px;
}

.training__learning-process-item {
  display: flex;
  font-size: 12px;
  line-height: 18px;
  margin-left: 30px;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.training__learning-process-item-icon {
  margin-right: 9px;
}

.training__learning-process-item-text {
  width: 200px;
}

.training__learning-process-item-text-br-desktop {
  display: none;
}

.training__decor-desktop-line {
  display: none;
}

@media (min-width: $tablet-width) {
  .training__background-wrapper {
    background-image: url("../../img/tablet/tours-background-1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/tablet/tours-background-2x.webp");
    }

    background-size: 602px 1630px;
    background-position-x: 343px;
    background-position-y: -712px;
    background-repeat: no-repeat;
  }

  .training__header {
    margin-top: 0;
    padding-top: 75px;
    margin-left: 45px;
    margin-bottom: 33px;

    &::before {
      top: 59px;
      left: 1px;
    }
  }

  .training__info {
    font-size: 16px;
    line-height: 24px;
    margin-left: 45px;
    margin-bottom: 28px;
    width: 680px;
  }

  .training__info-tablet-br {
    display: inline;
  }

  .training__flex-wrapper {
    display: flex;
  }

  .training__instructors-header {
    font-size: 25px;
    margin-left: 45px;
    margin-bottom: 35px;
    margin-right: 331px;
  }

  .training__slider-button-left {
    margin-right: 4px;
  }

  .training__slider-button-left,
  .training__slider-button-right {
    margin-top: -1px;
  }

  .training__instructors {
    display: flex;
    margin-left: 45px;
  }

  .training__instructor-card {
    margin-left: 0;
    width: auto;
    margin-right: 20px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .training__instructor-card--hidden {
    display: block;
  }

  .training__instructor-card--hidden-desktop {
    display: none;
  }

  .training__instructors-photo {
    width: 183px;
    height: 200px;
  }

  .training__instructors-photo--kolesnichenko {
    width: 182.67px;
  }

  .training__instructor-description {
    width: 180px;
  }

  .training__instructor-name {
    width: 158px;
    margin-right: 0;
  }

  .training__learning-process-header {
    background-image: url("../../img/tablet/training-cloud-background-1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/tablet/training-cloud-background-2x.webp");
    }

    background-repeat: no-repeat;
    background-size: 840px 280px;
    background-position-x: 258px;
    background-position-y: -59px;
    font-size: 18px;
    margin-left: 45px;
    padding-top: 26px;
    padding-bottom: 99px;
    margin-bottom: 0;
  }

  .training__learning-process-points-icon {
    display: none;
  }

  .training__learning-process {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-areas:
      "movement  difficulty"
      "equipment lectures";
    gap: 79px 106px;
    margin-left: 45px;
    margin-bottom: 64px;
  }

  .training__learning-process-item--movement {
    grid-area: movement;
  }

  .training__learning-process-item--equipment {
    grid-area: equipment;
  }

  .training__learning-process-item--lectures {
    grid-area: lectures;
  }

  .training__learning-process-item--difficulty {
    grid-area: difficulty;
  }

  .training__learning-process-item {
    margin-left: 0;
  }

  .training__learning-process-item-text {
    font-size: 14px;
    line-height: 22px;
  }

  .training__learning-process-item-icon {
    width: 25px;
    height: 25px;
    margin-top: 2px;
    margin-right: 10px;
  }

  .training__learning-process-item-icon--tree {
    width: 23px;
    height: 23px;
  }

  .training__learning-process-item-icon--boot {
    width: 24px;
    height: 24px;
  }

  .training__learning-process-item-icon--mountain {
    width: 25px;
  }
}

@media (min-width: $desktop-width) {
  .training__background-wrapper {
    background-image: url("../../img/desktop/tours-background-1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/desktop/tours-background-2x.webp");
    }

    background-size: 602px 1630px;
    background-position-x: 838px;
    background-position-y: -861px;
  }
  .training__header {
    padding-top: 139px;
    margin-left: 120px;
    margin-bottom: 29px;

    &:before {
      top: 120px;
    }
  }

  .training__info {
    margin-left: 120px;
    width: 870px;
    margin-bottom: 60px;
  }

  .training__info-tablet-br {
    display: none;
  }

  .training__instructors-header {
    font-size: 35px;
    margin-left: 120px;
    margin-right: 745px;
    margin-bottom: 13px;
  }

  .training__slider-button-left,
  .training__slider-button-right {
    margin-top: -2px;
  }

  .training__instructors {
    margin-left: 120px;
  }

  .training__instructor-card--hidden-desktop {
    display: block;
  }

  .training__instructor-name {
    margin-right: 73px;
  }

  .training__instructors-photo {
    width: 255px;
  }

  .training__instructor-description {
    width: 250px;
  }

  .training__instructor-description-prokofiev-br {
    display: none;
  }

  .training__instructor-description-afinogenova-br {
    display: inline;
  }

  .training__instructor-description-kolesnichenko-br {
    display: none;
  }

  .training__learning-process-header {
    font-size: 21px;
    background-position-x: 687px;
    background-position-y: -34px;
    margin-left: 120px;
    padding-top: 57px;
    padding-bottom: 95px;
  }

  .training__learning-process {
    display: flex;
    gap: 0;
    margin-top: -70px;
    margin-left: 130px;
    margin-bottom: -17px;
  }

  .training__learning-process-item {
    margin-right: 19px;

    &:last-child {
      margin-right: 0;
    }
  }

  .training__learning-process-item--equipment {
    margin-right: 18px;
  }

  .training__learning-process-item-text {
    font-size: 16px;
    line-height: 24px;
  }

  .training__learning-process-item-text-br-desktop {
    display: inline;
  }

  .training__learning-process-item-icon {
    width: 25px;
    height: 25px;
  }

  .training__learning-process-item-icon--boot {
    margin-left: -1px;
    margin-right: 11px;
  }

  .training__learning-process-item-icon--mountain {
    margin-left: -1px;
  }

  .training__decor-desktop-line {
    display: block;
    width: 1180px;
    height: 2px;
    background-color: #0266c1;
    margin-left: 140px;
    margin-bottom: 20px;
  }

  .training__decor-desktop-circle {
    position: absolute;
    bottom: 14px;
    left: 140px;
    width: 14px;
    height: 14px;
    background-color: #0266c1;
    border-radius: 50%;
  }

  .training__decor-desktop-circle--equipment {
    left: 393px;
  }

  .training__decor-desktop-circle--lectures {
    left: 627px;
  }

  .training__decor-desktop-circle--difficulty {
    left: 900px;
  }
}
