.section-header {
  position: relative;
  z-index: 1;
  font-size: 22px;
  font-weight: 800;
  color: #2d383f;
  margin: 0;

  &::before {
    content: attr(value);
    position: absolute;
    z-index: -1;
    opacity: 0.03;
    color: #2d383f;
    font-size: 26px;
    top: -16px;
    left: 0;
  }
}

@media (min-width: $tablet-width) {
  .section-header {
    font-size: 25px;

    &::before {
      font-size: 40px;
      width: 500px;
    }
  }
}

@media (min-width: $desktop-width) {
  .section-header {
    font-size: 35px;

    &::before {
      font-size: 55px;
      width: 550px;
      top: -18px;
    }
  }
}
