.slider-button {
  display: none;
}

.slider-button__arrow {
  display: none;
}

@media (min-width: $tablet-width) {
  .slider-button {
    display: block;
    cursor: pointer;
    border: none;
    background-color: #0266c1;
    width: 37px;
    height: 35px;

    &:hover {
      border: 1px solid #1c3374;
      background-color: #ffffff;
    }

    &:hover > .slider-button__arrow {
      fill: #1c3374;
      margin-left: 5px;
    }

    &:focus {
      border: none;
    }

    &:focus > .slider-button__arrow {
      margin-left: 5px;
    }

    &:active {
      background-color: #1c3374;
    }

    &:active > .slider-button__arrow {
      fill: #ffffff;
    }

    &:disabled {
      background-color: #999999;
    }

    &:disabled > .slider-button__arrow {
      fill: #ffffff;
    }
  }

  .slider-button--disabled {
    cursor: default;
    background-color: #999999;
  }

  .slider-button__arrow {
    display: block;
    fill: #ffffff;
    margin-left: 6px;
  }

  .slider-button__arrow--left {
    transform: rotate(180deg);
    margin-left: 5px;
  }
}
