.slider-button {
  display: none;
}

.slider-button__arrow {
  display: none;
}

@media (min-width: $tablet-width) {
  .slider-button {
    display: block;
    cursor: pointer;
    border: none;
    background-color: #0266c1;
    width: 37px;
    height: 35px;
  }

  .slider-button--disabled {
    cursor: default;
    background-color: #999999;
  }

  .slider-button__arrow {
    display: block;
    fill: #ffffff;
    margin-left: 6px;
  }

  .slider-button__arrow--left {
    transform: rotate(180deg);
    margin-left: 5px;
  }
}
